<!DOCTYPE html>
<html>
  <head>
    <title>WhatToRead</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <%= link_to "literate", books_path, class: "navbar-brand" %>
        <header id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li>
              <%= link_to "Books", books_path %>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <% if current_user %>
                <%= link_to "Logout", session_path, method: :delete %>
              <% else %>
                <%= link_to "Login", new_session_path %>
              <% end %>
            </li>
            <li>
              <%= link_to "#{current_user.nick_name}", user_path(current_user.id) if current_user %>
            </li>
            <li>
              <%= link_to "Sign up", new_user_path unless current_user %>
            </li>
          </ul>
        </header>
      </div>
    </nav>

    <div class="container-fluid">
      <% if @message %>
        <div class="alert alert-danger"><%= @message %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
